<!-- site created Feb 1, 2017 by Mark J. Magree (markmagree@gmail.com) -->

<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id=Layout>
<a class="banner" href="index.html">
	<h1>Rusty Bear Studio</h1>
</a>
<ul class="menu">
  <li><a href="./bracelet.html">Bracelet Gallery</a></li>
  <li><a href="./necklace.html">Necklace Gallery</a></li>
  <li><a href="./earring.html">Earring Gallery</a></li>
  <li><a href="./about.html">About</a></li>
</ul>
